/bin/
/.idea/
/out/
/SkoolConverter/SkoolConverter.iml
/make.log
/Manic Miner.iml
/manicminer.lst
/manicminer.rpk
/manicminer8.bin
/symbols.txt
/Tables/Tables.iml
/zx spectrum/Manic Miner Room-Format.html
/zx spectrum/Manic Miner Room-Format_files/
